[submodule "frontend"]
	path = frontend
	url = https://github.com/OleksandrIX/EducationDepartmentFrontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/OleksandrIX/EducationDepartmentBackend.git
